<h3>
  About
</h3>
<p>
  This is a functional example of a distributed micro-frontends architecture hosted in AWS 
  Cloud. The application is broken up into 4 parts written in the latest in modern web technologies:
</p>
<ul>
  <li>Home: React 16.13</li>
  <li>Login: Vue 2.6</li>
  <li>About: Angular 9</li>
  <li>Products: React 16.13</li>
  <li>Cookies: Vanill JS</li>
</ul>
<p>Source Code: <a target="_blank" href="https://github.com/cfryerdev/microfrontend-sample">GitHub</a></p>
<p>
  While navigating the application, you should not be able to notice the transition between applications 
  or technologies. Although, this is before adding pre-fetching, or optimizations of any kind.
</p>
<p>
  This website is made up of four distinct applications, Home, Login, About, and Products. State is 
  managed at the cookie level to save cost, but in a production environment should be held server-side 
  using a restful api like expressjs and a cache service such as Redis. When navigating between applications 
  the cookie retains the data, so that each application is able to pickup where the last left off. This also 
  allows users to freely navigate the entire sitemap without interuption.
</p>
<p>
  The application also leaverages several npm packages to ensure each application has the exact same 
  experience and functionality. These packages include the header, the footer, and cookie management.
</p>