body {
  background-color: #222;
}

.container {
  padding-top: 20px;
}

.bg-blue {
  background: rgb(1,224,243);
}

.divider {
  margin-top: 40px;
  margin-bottom: 40px;
  border-top: 1px solid rgb(1,224,243);
}